<a href="https://colab.research.google.com/github/nethranatarajan3/nethranatarajan3.github.io/blob/main/code/Scraping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#Loading Libraries
import pandas as pd
import requests

In [3]:
#Scraping the Data
url = "https://en.wikipedia.org/wiki/List_of_medical_colleges_in_India"
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64)'}
response = requests.get(url, headers=headers)

tables = pd.read_html(response.content)

# Getting table 3 (the state-wise medical colleges table)
df = tables[3]

print(f"Shape: {df.shape}")
print(f"Columns: {df.columns.tolist()}")


print(df.head(10))

Shape: (37, 4)
Columns: ['State / UT', 'Number of medical colleges', 'Number of stand alone PG institutes', 'Ref.']
                                 State / UT  Number of medical colleges  \
0               Andaman and Nicobar Islands                           1
1                            Andhra Pradesh                          38
2                         Arunachal Pradesh                           1
3                                     Assam                          15
4                                     Bihar                          23
5                                Chandigarh                           1
6                              Chhattisgarh                          10
7  Dadra and Nagar Haveli and Daman and Diu                           1
8                                     Delhi                          10
9                                       Goa                           1

   Number of stand alone PG institutes Ref.
0                                    0  NaN
1                                    1  [4]
2                                    0  NaN
3                                    2  NaN
4                                    0  NaN
5                                    1  NaN
6                                    0  NaN
7                                    0  NaN
8                                   11  NaN
9                                    0  NaN

In [5]:
# Cleaning the data
# Removing 'Ref.' column
if 'Ref.' in df.columns:
    df = df.drop('Ref.', axis=1)

# Removing the Total row
df = df[df.iloc[:, 0] != 'Total']

# Renaming columns
df.columns = ['State', 'Number_of_Medical_Colleges', 'Number_of_PG_Institutes']

# Converting columns to numeric
df['Number_of_Medical_Colleges'] = pd.to_numeric(df['Number_of_Medical_Colleges'], errors='coerce')
df['Number_of_PG_Institutes'] = pd.to_numeric(df['Number_of_PG_Institutes'], errors='coerce')

# Removing any rows with NaN
df = df.dropna()

print(df)

# Saving the File
df.to_csv('medical_colleges_by_state.csv', index=False)

                                       State  Number_of_Medical_Colleges  \
0                Andaman and Nicobar Islands                           1
1                             Andhra Pradesh                          38
2                          Arunachal Pradesh                           1
3                                      Assam                          15
4                                      Bihar                          23
5                                 Chandigarh                           1
6                               Chhattisgarh                          10
7   Dadra and Nagar Haveli and Daman and Diu                           1
8                                      Delhi                          10
9                                        Goa                           1
10                                   Gujarat                          40
11                                   Haryana                          13
12                          Himachal Pradesh                           7
13                           Jammu & Kashmir                          12
14                                 Jharkhand                           7
15                                 Karnataka                          61
16                                    Kerala                          33
17                                    Ladakh                           0
18                               Lakshadweep                           0
19                            Madhya Pradesh                          27
20                               Maharashtra                          55
21                                   Manipur                           4
22                                 Meghalaya                           3
23                                   Mizoram                           1
24                                  Nagaland                           1
25                                    Odisha                          15
26                                Puducherry                           9
27                                    Punjab                          10
28                                 Rajasthan                          35
29                                    Sikkim                           1
30                                Tamil Nadu                          64
31                                 Telangana                          32
32                                   Tripura                           3
33                               Uttarakhand                           6
34                             Uttar Pradesh                          85
35                               West Bengal                          40

    Number_of_PG_Institutes
0                         0
1                         1
2                         0
3                         2
4                         0
5                         1
6                         0
7                         0
8                        11
9                         0
10                        2
11                        1
12                        0
13                        0
14                        2
15                        9
16                        2
17                        0
18                        0
19                        0
20                       11
21                        0
22                        0
23                        0
24                        0
25                        1
26                        0
27                        2
28                        0
29                        1
30                        5
31                        1
32                        0
33                        0
34                        5
35                        8